## Connecting to individual servers

In [1]:
!pip install pyodbc sqlalchemy azure-identity

Requirement already satisfied: pyodbc in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (5.2.0)
Requirement already satisfied: sqlalchemy in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (2.0.37)
Requirement already satisfied: azure-identity in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (1.17.1)
Requirement already satisfied: greenlet!=0.4.17 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: msal>=1.24.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azure-identity) (1.30.0)
Requirement already satisfied: msal-extensions>=0.3.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azure-identity) (1.2.0)
Requirement already satisfied: cryptography>=2.5 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azure-identity) (38.0.4)
Requirement already satisfied: azure-core>=1.23.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azure-identity) (1.30.2)
Requirement already satisfied: six>=1.11.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azure-core>=1.23.0->azure-identity) (1.16.0)
Requirement already satisfied: requests>=2.21.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azure-core>=1.23.0->azure-identity) (2.32.3)
Requirement already satisfied: cffi>=1.12 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from cryptography>=2.5->azure-identity) (1.16.0)
Requirement already satisfied: PyJWT[crypto]<3,>=1.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from msal>=1.24.0->azure-identity) (2.4.0)
Requirement already satisfied: portalocker<3,>=1.4 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from msal-extensions>=0.3.0->azure-identity) (2.10.1)
Requirement already satisfied: pycparser in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=2.5->azure-identity) (2.22)
Requirement already satisfied: charset-normalizer<4,>=2 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from requests>=2.21.0->azure-core>=1.23.0->azure-identity) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from requests>=2.21.0->azure-core>=1.23.0->azure-identity) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from requests>=2.21.0->azure-core>=1.23.0->azure-identity) (1.26.19)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from requests>=2.21.0->azure-core>=1.23.0->azure-identity) (2024.8.30)

In [2]:
import pyodbc
from sqlalchemy import create_engine

# Azure SQL Database details
server = 'techentjan.database.windows.net'
database = 'QAECECRM_jan'
username = 'azureml_jothsna'
password = 'S@iram1718'

# Connection string
connection_string = f"DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};Encrypt=yes"

# Connect to Azure SQL Database
try:
    conn = pyodbc.connect(connection_string)
    print("Connection successful!")
except Exception as e:
    print(f"Error: {e}")

Connection successful!

In [3]:
import pyodbc
from sqlalchemy import create_engine

# Azure SQL Database details
server = 'techentjan.database.windows.net'
database = 'QAECECRM_jan'
username = 'azureml_anushka'
password = 'AnuJan@Azure123'

# Connection string
connection_string = f"DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};Encrypt=yes"

# Connect to Azure SQL Database
try:
    conn = pyodbc.connect(connection_string)
    print("Connection successful!")
except Exception as e:
    print(f"Error: {e}")

Connection successful!

## Importing Libraries

In [3]:
import pandas as pd
import numpy as np

## Understanding DB Schema

In [4]:
query1 = "SELECT PresenterId, AgentId, AccountName, OrganizationName, PresenterTypeId, MailingAddress1, MailingAddress2, MailingCity, MailingStateId, MailingZip, MailingCountryId, PhysicalAddress1, PhysicalAddress2, PhysicalCity, PhysicalStateId, PhysicalZip, PhysicalCountryId, PhysicalGeoLatitude, PhysicalGeoLongitude, Notes, IsActive, CreatedDate, CreatedById, UpdatedDate, UpdatedById, ArchiveDate, ParentPresenterId FROM [dbo].[Presenter]"
conn2 = pyodbc.connect(connection_string)
df_presenter = pd.read_sql(query1, conn2)
df_presenter.head()

,PresenterId,AgentId,AccountName,OrganizationName,PresenterTypeId,MailingAddress1,MailingAddress2,MailingCity,MailingStateId,MailingZip,...,PhysicalGeoLatitude,PhysicalGeoLongitude,Notes,IsActive,CreatedDate,CreatedById,UpdatedDate,UpdatedById,ArchiveDate,ParentPresenterId
0,0,281,ASD,None,99,None,None,None,999,None,...,NaN,NaN,\r\n\r\n\r\n\r\nORTH CAROLINA\r\nORTH CAROLINA...,False,2016-11-10,281,2022-04-18 14:13:32.130,281.0,None,0
1,8,107,COLLEGE OF WILLIAM AND MARY,BETA THETA PI,49,700 UKROP WAY UNIT M,COLLEGE OF WILLIAM & MARY,WILLIAMSBURG,46,None,...,37.2458,-76.6970,None,True,2012-06-04,107,NaT,NaN,None,0
2,32,443,WAKE SUPPLY CO,None,8,1700 JEFFREY ST,None,RALEIGH,28,27610,...,35.7455,-78.5467,None,False,2003-12-30,443,2018-06-02 08:47:55.370,999999.0,2018-06-02,0
3,82,435,MARRIOTT/RICHMOND,None,99,None,None,None,999,None,...,NaN,NaN,None,False,2012-04-11,435,2018-06-02 08:47:55.370,999999.0,2018-06-02,0
4,85,253,[Unknown],None,99,None,None,None,999,None,...,NaN,NaN,None,False,2009-06-12,253,2018-06-02 08:47:55.370,999999.0,2018-06-02,0

In [5]:
query2 = "SELECT GenreTypeId, Name, IsActive FROM [dbo].LuGenreType"
df_genre = pd.read_sql(query2, conn)
df_genre.head()

   GenreTypeId                     Name  IsActive
0            1  A Cappella/Vocal Groups      True
1            2                 Acrobats      True
2            3                  African      True
3            4       Animal/Circus Acts      True
4            5             Audio Visual      True

In [6]:
query3 = """
SELECT 
    ArtistId,
    Name,
    MailingCountryId,
    PhysicalAddressCity,
    PhysicalAddressStateId,
    PhysicalGeoLatitude,
    PhysicalGeoLongitude,
    IsActive,
    IsExclusive,
    ExclusiveStartDate,
    NationalNetPriceLowerBound,
    NationalNetPriceUpperBound,
    NationalOneOffPrice,
    CreatedDate,
    UpdatedDate,
    IsNational,
    IsNotParticipating
FROM Artist;
"""

# Execute the query and load data into a Pandas DataFrame
artist_df = pd.read_sql(query3, conn)
artist_df.head()

,ArtistId,Name,MailingCountryId,PhysicalAddressCity,PhysicalAddressStateId,PhysicalGeoLatitude,PhysicalGeoLongitude,IsActive,IsExclusive,ExclusiveStartDate,NationalNetPriceLowerBound,NationalNetPriceUpperBound,NationalOneOffPrice,CreatedDate,UpdatedDate,IsNational,IsNotParticipating
0,2,O,1.0,RICHMOND,46.0,37.5770,-77.5388,True,False,NaT,NaN,NaN,NaN,2018-06-02 04:05:01.677,NaT,False,False
1,3,GROOVE DELUXE,1.0,ROCK HILL,41.0,34.8867,-81.0208,True,False,NaT,NaN,NaN,NaN,2018-06-02 04:05:01.677,NaT,False,False
2,4,QUINTON PARKER BAND,1.0,ASHLAND,46.0,37.7596,-77.4822,True,False,NaT,NaN,NaN,NaN,2018-06-02 04:05:01.677,NaT,False,False
3,5,BILL BOLEN BAND (4),1.0,CHAPEL HILL,28.0,35.9672,-79.0444,True,False,NaT,NaN,NaN,NaN,2018-06-02 04:05:01.683,2018-09-19 15:21:38.730,False,False
4,6,88 KEYS WILSON,1.0,CHARLOTTESVILLE,46.0,38.0884,-78.5562,True,False,NaT,NaN,NaN,NaN,2018-06-02 04:05:01.683,2019-11-18 15:16:17.807,False,False

In [7]:
query4 = "SELECT ActTypeId, Name, IsActive FROM [dbo].LuActType"
df_act = pd.read_sql(query4, conn)
df_act.head()

   ActTypeId           Name  IsActive
0          1          Bands      True
1          2      Classical      True
2          3      Comedians      True
3          4            DJs      True
4          5  International      True

In [8]:
query5 = "SELECT * FROM [dbo].ArtistFeedback"
df_feedback = pd.read_sql(query5, conn)
df_feedback.head()

,ArtistFeedbackId,ArtistId,PresenterPortalId,ContractId,IsNegative,ReviewDate,Feedback,AgentId,Response,ResponseDate,CreatedDate,CreatedById,UpdatedDate,UpdatedById
0,1,3061,1,100304,False,2001-07-19,THE BREEZE BAND ARE THE BEST. THEY ARE NOT ONL...,NaN,None,NaT,2006-06-07 09:03:58,0,NaT,NaN
1,2,918,2,103526,False,1991-01-21,EVRYTHING WENT GREAT,NaN,None,NaT,2006-06-07 05:42:43,0,NaT,NaN
2,3,154,3,104617,False,1991-02-15,BKD MIRAGE 91,NaN,None,NaT,2006-06-07 02:25:48,0,NaT,NaN
3,4,55,4,105392,False,1991-01-09,BKD MAINSTAY 91,NaN,None,NaT,2006-06-07 00:39:30,0,NaT,NaN
4,5,32,5,105486,False,1991-01-09,BAND PLAYS REGULARLY AT CLUB,NaN,None,NaT,2006-06-07 00:19:13,0,NaT,NaN

In [9]:
query6 = "SELECT * FROM [dbo].BlueCardArtist"
df_bluecardartist = pd.read_sql(query6, conn)
df_bluecardartist.head()

,BlueCardArtistId,BlueCardId,ArtistId,Gross,Net,Notes,IsDeleted,CreatedDate,CreatedById,UpdatedDate,UpdatedById
0,1,0,136,3250.0,0.0,None,False,2018-06-02 04:06:42.950,0,NaT,NaN
1,2,0,296,7750.0,0.0,w/ female,False,2018-06-02 04:06:42.950,0,NaT,NaN
2,3,0,11183,0.0,0.0,None,False,2018-06-02 04:06:42.950,0,NaT,NaN
3,4,0,15104,0.0,0.0,None,False,2018-06-02 04:06:42.950,0,NaT,NaN
4,5,0,15104,0.0,0.0,None,False,2018-06-02 04:06:42.950,0,NaT,NaN

In [10]:
query7 = '''SELECT 
    VenueId,
    AgentId,
    Name,
    VenueSettingId,
    IsSettingCovered,
    MailingAddress1,
    MailingAddress2,
    MailingCity,
    MailingStateId,
    MailingZip,
    MailingCountryId,
    PhysicalAddress1,
    PhysicalAddress2,
    PhysicalCity,
    PhysicalStateId,
    PhysicalZip,
    PhysicalCountryId,
    Notes,
    Capacity,
    IsActive,
    PresenterId,
    CreatedDate,
    CreatedById,
    UpdatedDate,
    UpdatedById,
    ArchiveDate,
    VenueManagerId,
    NotifyForLead,
    NotifyForBC,
    NotifyForContract,
    NotifyForApproval
FROM [dbo].Venue'''
df_venue = pd.read_sql(query7, conn)
df_venue.head()

,VenueId,AgentId,Name,VenueSettingId,IsSettingCovered,MailingAddress1,MailingAddress2,MailingCity,MailingStateId,MailingZip,...,CreatedDate,CreatedById,UpdatedDate,UpdatedById,ArchiveDate,VenueManagerId,NotifyForLead,NotifyForBC,NotifyForContract,NotifyForApproval
0,1,141.0,HILTON ATLANTA,3,False,255 COURTLAND STREET NE,,ATLANTA,11,30303,...,2018-06-04 11:42:41.587,141,NaT,NaN,None,NaN,None,None,None,None
1,2,141.0,MARRIOTT MARQUIS ATLANTA,3,False,265 PEACHTREE CENTER AVENUE,,ATLANTA,11,30303,...,2018-06-04 11:46:28.407,141,NaT,NaN,None,NaN,None,None,None,None
2,3,430.0,Moreland Landing @ Palmetto Bluff,2,True,Moreland Road,,BLUFFTON,41,29910,...,2018-06-04 11:52:10.490,445,2023-01-25 09:12:27.047,182.0,None,NaN,None,None,None,None
3,4,141.0,EVERGREEN CONFERENCE CENTER,3,False,EVERGREEN CONFERENCE CENTER,1 LAKEVIEW DRIVE,STONE MOUNTAIN,11,30086,...,2018-06-04 11:55:11.247,141,NaT,NaN,None,NaN,None,None,None,None
4,5,141.0,MERCEDES-BENZ STADIUM,1,False,1414 ANDREW YOUNG INTERNATIONAL BLVD NW,,ATLANTA,11,30313,...,2018-06-04 11:56:29.607,141,2020-02-05 13:55:16.493,141.0,None,NaN,None,None,None,None

#### Data Cleaning

In [11]:
tables=[df_presenter,df_genre,artist_df,df_venue,df_genre,df_bluecardartist,df_feedback]

In [12]:
for df in tables:
    print(df.isnull().sum())
    print("-" * 50)

PresenterId                 0
AgentId                     0
AccountName                 0
OrganizationName        39190
PresenterTypeId             0
MailingAddress1          3352
MailingAddress2         16547
MailingCity              2062
MailingStateId              0
MailingZip               4520
MailingCountryId            0
PhysicalAddress1         3352
PhysicalAddress2        16547
PhysicalCity             2062
PhysicalStateId             0
PhysicalZip              4520
PhysicalCountryId           0
PhysicalGeoLatitude      3930
PhysicalGeoLongitude     3930
Notes                   54001
IsActive                    0
CreatedDate                 0
CreatedById                 0
UpdatedDate             45937
UpdatedById             45937
ArchiveDate             66975
ParentPresenterId           0
dtype: int64
--------------------------------------------------
GenreTypeId    0
Name           0
IsActive       0
dtype: int64
--------------------------------------------------
ArtistId                          0
Name                              0
MailingCountryId               2655
PhysicalAddressCity            3577
PhysicalAddressStateId         3530
PhysicalGeoLatitude            3617
PhysicalGeoLongitude           3617
IsActive                          0
IsExclusive                       0
ExclusiveStartDate            23397
NationalNetPriceLowerBound    21583
NationalNetPriceUpperBound    21584
NationalOneOffPrice           21569
CreatedDate                       0
UpdatedDate                   10838
IsNational                        0
IsNotParticipating                0
dtype: int64
--------------------------------------------------
VenueId                 0
AgentId               837
Name                    0
VenueSettingId          0
IsSettingCovered        0
MailingAddress1         0
MailingAddress2         0
MailingCity             0
MailingStateId          0
MailingZip              0
MailingCountryId        0
PhysicalAddress1        0
PhysicalAddress2        0
PhysicalCity            0
PhysicalStateId         0
PhysicalZip             0
PhysicalCountryId       0
Notes                   0
Capacity             2827
IsActive                0
PresenterId          1314
CreatedDate             0
CreatedById             0
UpdatedDate          2259
UpdatedById          2259
ArchiveDate          3490
VenueManagerId       3499
NotifyForLead        3499
NotifyForBC          3499
NotifyForContract    3499
NotifyForApproval    3499
dtype: int64
--------------------------------------------------
GenreTypeId    0
Name           0
IsActive       0
dtype: int64
--------------------------------------------------
BlueCardArtistId         0
BlueCardId               0
ArtistId                 0
Gross                10071
Net                 366233
Notes               394165
IsDeleted                0
CreatedDate              0
CreatedById              0
UpdatedDate         496952
UpdatedById         496952
dtype: int64
--------------------------------------------------
ArtistFeedbackId         0
ArtistId                 0
PresenterPortalId        0
ContractId               0
IsNegative               0
ReviewDate               0
Feedback                 0
AgentId              47203
Response             44397
ResponseDate         47203
CreatedDate              0
CreatedById              0
UpdatedDate          47229
UpdatedById          47229
dtype: int64
--------------------------------------------------

In [13]:
tables = {
    "df_presenter": df_presenter,
    "df_genre": df_genre,
    "artist_df": artist_df,
    "df_venue": df_venue,
    "df_bluecardartist": df_bluecardartist,
    "df_feedback": df_feedback
}

for name, df in tables.items():
    print(f"Missing Values Percentage in {name}:")
    missing_percentage = (df.isnull().sum() / len(df)) 
    print(missing_percentage)
    print("-" * 50)

Missing Values Percentage in df_presenter:
PresenterId             0.000000
AgentId                 0.000000
AccountName             0.000000
OrganizationName        0.435875
PresenterTypeId         0.000000
MailingAddress1         0.037281
MailingAddress2         0.184038
MailingCity             0.022934
MailingStateId          0.000000
MailingZip              0.050272
MailingCountryId        0.000000
PhysicalAddress1        0.037281
PhysicalAddress2        0.184038
PhysicalCity            0.022934
PhysicalStateId         0.000000
PhysicalZip             0.050272
PhysicalCountryId       0.000000
PhysicalGeoLatitude     0.043710
PhysicalGeoLongitude    0.043710
Notes                   0.600605
IsActive                0.000000
CreatedDate             0.000000
CreatedById             0.000000
UpdatedDate             0.510916
UpdatedById             0.510916
ArchiveDate             0.744903
ParentPresenterId       0.000000
dtype: float64
--------------------------------------------------
Missing Values Percentage in df_genre:
GenreTypeId    0.0
Name           0.0
IsActive       0.0
dtype: float64
--------------------------------------------------
Missing Values Percentage in artist_df:
ArtistId                      0.000000
Name                          0.000000
MailingCountryId              0.112548
PhysicalAddressCity           0.151632
PhysicalAddressStateId        0.149640
PhysicalGeoLatitude           0.153328
PhysicalGeoLongitude          0.153328
IsActive                      0.000000
IsExclusive                   0.000000
ExclusiveStartDate            0.991819
NationalNetPriceLowerBound    0.914922
NationalNetPriceUpperBound    0.914964
NationalOneOffPrice           0.914328
CreatedDate                   0.000000
UpdatedDate                   0.459432
IsNational                    0.000000
IsNotParticipating            0.000000
dtype: float64
--------------------------------------------------
Missing Values Percentage in df_venue:
VenueId              0.000000
AgentId              0.239006
Name                 0.000000
VenueSettingId       0.000000
IsSettingCovered     0.000000
MailingAddress1      0.000000
MailingAddress2      0.000000
MailingCity          0.000000
MailingStateId       0.000000
MailingZip           0.000000
MailingCountryId     0.000000
PhysicalAddress1     0.000000
PhysicalAddress2     0.000000
PhysicalCity         0.000000
PhysicalStateId      0.000000
PhysicalZip          0.000000
PhysicalCountryId    0.000000
Notes                0.000000
Capacity             0.807253
IsActive             0.000000
PresenterId          0.375214
CreatedDate          0.000000
CreatedById          0.000000
UpdatedDate          0.645060
UpdatedById          0.645060
ArchiveDate          0.996573
VenueManagerId       0.999143
NotifyForLead        0.999143
NotifyForBC          0.999143
NotifyForContract    0.999143
NotifyForApproval    0.999143
dtype: float64
--------------------------------------------------
Missing Values Percentage in df_bluecardartist:
BlueCardArtistId    0.000000
BlueCardId          0.000000
ArtistId            0.000000
Gross               0.012142
Net                 0.441557
Notes               0.475234
IsDeleted           0.000000
CreatedDate         0.000000
CreatedById         0.000000
UpdatedDate         0.599161
UpdatedById         0.599161
dtype: float64
--------------------------------------------------
Missing Values Percentage in df_feedback:
ArtistFeedbackId     0.000000
ArtistId             0.000000
PresenterPortalId    0.000000
ContractId           0.000000
IsNegative           0.000000
ReviewDate           0.000000
Feedback             0.000000
AgentId              0.995214
Response             0.936053
ResponseDate         0.995214
CreatedDate          0.000000
CreatedById          0.000000
UpdatedDate          0.995762
UpdatedById          0.995762
dtype: float64
--------------------------------------------------

#### Dropping columns with more than 50% missing values

In [14]:

threshold = 0.5


tables = {
    "df_presenter": df_presenter,
    "df_genre": df_genre,
    "artist_df": artist_df,
    "df_venue": df_venue,
    "df_bluecardartist": df_bluecardartist,
    "df_feedback": df_feedback
}


for name, df in tables.items():
    missing_ratio = df.isnull().sum() / len(df)  # Calculate missing percentage
    columns_to_drop = missing_ratio[missing_ratio > threshold].index  # Identify columns > 50% missing
    df.drop(columns=columns_to_drop, inplace=True)  # Drop columns
    print(f"Dropped columns from {name}: {list(columns_to_drop)}")
    print("-" * 50)

Dropped columns from df_presenter: ['Notes', 'UpdatedDate', 'UpdatedById', 'ArchiveDate']
--------------------------------------------------
Dropped columns from df_genre: []
--------------------------------------------------
Dropped columns from artist_df: ['ExclusiveStartDate', 'NationalNetPriceLowerBound', 'NationalNetPriceUpperBound', 'NationalOneOffPrice']
--------------------------------------------------
Dropped columns from df_venue: ['Capacity', 'UpdatedDate', 'UpdatedById', 'ArchiveDate', 'VenueManagerId', 'NotifyForLead', 'NotifyForBC', 'NotifyForContract', 'NotifyForApproval']
--------------------------------------------------
Dropped columns from df_bluecardartist: ['UpdatedDate', 'UpdatedById']
--------------------------------------------------
Dropped columns from df_feedback: ['AgentId', 'Response', 'ResponseDate', 'UpdatedDate', 'UpdatedById']
--------------------------------------------------

### Reverification of missing values

In [15]:
tables = {
    "df_presenter": df_presenter,
    "df_genre": df_genre,
    "artist_df": artist_df,
    "df_venue": df_venue,
    "df_bluecardartist": df_bluecardartist,
    "df_feedback": df_feedback
}

for name, df in tables.items():
    print(f"Missing Values Percentage in {name}:")
    missing_percentage = (df.isnull().sum() / len(df)) 
    print(missing_percentage)
    print("-" * 50)

Missing Values Percentage in df_presenter:
PresenterId             0.000000
AgentId                 0.000000
AccountName             0.000000
OrganizationName        0.435875
PresenterTypeId         0.000000
MailingAddress1         0.037281
MailingAddress2         0.184038
MailingCity             0.022934
MailingStateId          0.000000
MailingZip              0.050272
MailingCountryId        0.000000
PhysicalAddress1        0.037281
PhysicalAddress2        0.184038
PhysicalCity            0.022934
PhysicalStateId         0.000000
PhysicalZip             0.050272
PhysicalCountryId       0.000000
PhysicalGeoLatitude     0.043710
PhysicalGeoLongitude    0.043710
IsActive                0.000000
CreatedDate             0.000000
CreatedById             0.000000
ParentPresenterId       0.000000
dtype: float64
--------------------------------------------------
Missing Values Percentage in df_genre:
GenreTypeId    0.0
Name           0.0
IsActive       0.0
dtype: float64
--------------------------------------------------
Missing Values Percentage in artist_df:
ArtistId                  0.000000
Name                      0.000000
MailingCountryId          0.112548
PhysicalAddressCity       0.151632
PhysicalAddressStateId    0.149640
PhysicalGeoLatitude       0.153328
PhysicalGeoLongitude      0.153328
IsActive                  0.000000
IsExclusive               0.000000
CreatedDate               0.000000
UpdatedDate               0.459432
IsNational                0.000000
IsNotParticipating        0.000000
dtype: float64
--------------------------------------------------
Missing Values Percentage in df_venue:
VenueId              0.000000
AgentId              0.239006
Name                 0.000000
VenueSettingId       0.000000
IsSettingCovered     0.000000
MailingAddress1      0.000000
MailingAddress2      0.000000
MailingCity          0.000000
MailingStateId       0.000000
MailingZip           0.000000
MailingCountryId     0.000000
PhysicalAddress1     0.000000
PhysicalAddress2     0.000000
PhysicalCity         0.000000
PhysicalStateId      0.000000
PhysicalZip          0.000000
PhysicalCountryId    0.000000
Notes                0.000000
IsActive             0.000000
PresenterId          0.375214
CreatedDate          0.000000
CreatedById          0.000000
dtype: float64
--------------------------------------------------
Missing Values Percentage in df_bluecardartist:
BlueCardArtistId    0.000000
BlueCardId          0.000000
ArtistId            0.000000
Gross               0.012142
Net                 0.441557
Notes               0.475234
IsDeleted           0.000000
CreatedDate         0.000000
CreatedById         0.000000
dtype: float64
--------------------------------------------------
Missing Values Percentage in df_feedback:
ArtistFeedbackId     0.0
ArtistId             0.0
PresenterPortalId    0.0
ContractId           0.0
IsNegative           0.0
ReviewDate           0.0
Feedback             0.0
CreatedDate          0.0
CreatedById          0.0
dtype: float64
--------------------------------------------------

In [16]:
# Function to impute missing values
def impute_missing_values(df):
    for col in df.columns:
        if df[col].dtype == "object":  
            df[col].fillna("Unknown", inplace=True)
        elif df[col].dtype in ["int64", "float64"]:  
            if df[col].nunique() < 10:  
                df[col].fillna(df[col].mode()[0], inplace=True)  
            else:
                df[col].fillna(df[col].median(), inplace=True)  
        elif np.issubdtype(df[col].dtype, np.datetime64):  
            df[col].fillna(df[col].min(), inplace=True)  
        elif df[col].dtype == "bool":  
            df[col].fillna(False, inplace=True)  
    return df

In [17]:
# Apply imputation to all DataFrames
for name, df in tables.items():
    tables[name] = impute_missing_values(df)
    print(f"Imputed missing values in {name}")

# Verify no missing values
for name, df in tables.items():
    print(f"Remaining missing values in {name}:")
    print(df.isnull().sum())
    print("-" * 50)

Imputed missing values in df_presenter
Imputed missing values in df_genre
Imputed missing values in artist_df
Imputed missing values in df_venue
Imputed missing values in df_bluecardartist
Imputed missing values in df_feedback
Remaining missing values in df_presenter:
PresenterId             0
AgentId                 0
AccountName             0
OrganizationName        0
PresenterTypeId         0
MailingAddress1         0
MailingAddress2         0
MailingCity             0
MailingStateId          0
MailingZip              0
MailingCountryId        0
PhysicalAddress1        0
PhysicalAddress2        0
PhysicalCity            0
PhysicalStateId         0
PhysicalZip             0
PhysicalCountryId       0
PhysicalGeoLatitude     0
PhysicalGeoLongitude    0
IsActive                0
CreatedDate             0
CreatedById             0
ParentPresenterId       0
dtype: int64
--------------------------------------------------
Remaining missing values in df_genre:
GenreTypeId    0
Name           0
IsActive       0
dtype: int64
--------------------------------------------------
Remaining missing values in artist_df:
ArtistId                  0
Name                      0
MailingCountryId          0
PhysicalAddressCity       0
PhysicalAddressStateId    0
PhysicalGeoLatitude       0
PhysicalGeoLongitude      0
IsActive                  0
IsExclusive               0
CreatedDate               0
UpdatedDate               0
IsNational                0
IsNotParticipating        0
dtype: int64
--------------------------------------------------
Remaining missing values in df_venue:
VenueId              0
AgentId              0
Name                 0
VenueSettingId       0
IsSettingCovered     0
MailingAddress1      0
MailingAddress2      0
MailingCity          0
MailingStateId       0
MailingZip           0
MailingCountryId     0
PhysicalAddress1     0
PhysicalAddress2     0
PhysicalCity         0
PhysicalStateId      0
PhysicalZip          0
PhysicalCountryId    0
Notes                0
IsActive             0
PresenterId          0
CreatedDate          0
CreatedById          0
dtype: int64
--------------------------------------------------
Remaining missing values in df_bluecardartist:
BlueCardArtistId    0
BlueCardId          0
ArtistId            0
Gross               0
Net                 0
Notes               0
IsDeleted           0
CreatedDate         0
CreatedById         0
dtype: int64
--------------------------------------------------
Remaining missing values in df_feedback:
ArtistFeedbackId     0
ArtistId             0
PresenterPortalId    0
ContractId           0
IsNegative           0
ReviewDate           0
Feedback             0
CreatedDate          0
CreatedById          0
dtype: int64
--------------------------------------------------

In [19]:
for name, df in tables.items():
    print(f"The head of {name} is:\n{df.head()}\n")

The head of df_presenter is:
   PresenterId  AgentId                  AccountName OrganizationName  \
0            0      281                          ASD          Unknown
1            8      107  COLLEGE OF WILLIAM AND MARY    BETA THETA PI
2           32      443               WAKE SUPPLY CO          Unknown
3           82      435            MARRIOTT/RICHMOND          Unknown
4           85      253                    [Unknown]          Unknown

   PresenterTypeId                               MailingAddress1  \
0               99                                       Unknown
1               49                          700 UKROP WAY UNIT M
2                8  1700 JEFFREY ST
3               99                                       Unknown
4               99                                       Unknown

             MailingAddress2   MailingCity  MailingStateId MailingZip  ...  \
0                    Unknown       Unknown             999    Unknown  ...
1  COLLEGE OF WILLIAM & MARY  WILLIAMSBURG              46    Unknown  ...
2                    Unknown       RALEIGH              28      27610  ...
3                    Unknown       Unknown             999    Unknown  ...
4                    Unknown       Unknown             999    Unknown  ...

   PhysicalCity PhysicalStateId PhysicalZip PhysicalCountryId  \
0       Unknown             999     Unknown                 1
1  WILLIAMSBURG              46     Unknown                 1
2       RALEIGH              28       27610                 1
3       Unknown             999     Unknown                 1
4       Unknown             999     Unknown                 1

   PhysicalGeoLatitude PhysicalGeoLongitude  IsActive  CreatedDate  \
0              35.7373           -80.770107     False   2016-11-10
1              37.2458           -76.697000      True   2012-06-04
2              35.7455           -78.546700     False   2003-12-30
3              35.7373           -80.770107     False   2012-04-11
4              35.7373           -80.770107     False   2009-06-12

   CreatedById  ParentPresenterId
0          281                  0
1          107                  0
2          443                  0
3          435                  0
4          253                  0

[5 rows x 23 columns]

The head of df_genre is:
   GenreTypeId                     Name  IsActive
0            1  A Cappella/Vocal Groups      True
1            2                 Acrobats      True
2            3                  African      True
3            4       Animal/Circus Acts      True
4            5             Audio Visual      True

The head of artist_df is:
   ArtistId                 Name  MailingCountryId PhysicalAddressCity  \
0         2                    O               1.0            RICHMOND
1         3        GROOVE DELUXE               1.0           ROCK HILL
2         4  QUINTON PARKER BAND               1.0             ASHLAND
3         5  BILL BOLEN BAND (4)               1.0         CHAPEL HILL
4         6       88 KEYS WILSON               1.0     CHARLOTTESVILLE

   PhysicalAddressStateId  PhysicalGeoLatitude  PhysicalGeoLongitude  \
0                    46.0              37.5770              -77.5388
1                    41.0              34.8867              -81.0208
2                    46.0              37.7596              -77.4822
3                    28.0              35.9672              -79.0444
4                    46.0              38.0884              -78.5562

   IsActive  IsExclusive             CreatedDate             UpdatedDate  \
0      True        False 2018-06-02 04:05:01.677 2018-06-02 17:21:47.147
1      True        False 2018-06-02 04:05:01.677 2018-06-02 17:21:47.147
2      True        False 2018-06-02 04:05:01.677 2018-06-02 17:21:47.147
3      True        False 2018-06-02 04:05:01.683 2018-09-19 15:21:38.730
4      True        False 2018-06-02 04:05:01.683 2019-11-18 15:16:17.807

   IsNational  IsNotParticipating
0       False               False
1       False               False
2       False               False
3       False               False
4       False               False

The head of df_venue is:
   VenueId  AgentId                               Name  VenueSettingId  \
0        1    141.0                     HILTON ATLANTA               3
1        2    141.0           MARRIOTT MARQUIS ATLANTA               3
2        3    430.0  Moreland Landing @ Palmetto Bluff               2
3        4    141.0        EVERGREEN CONFERENCE CENTER               3
4        5    141.0              MERCEDES-BENZ STADIUM               1

   IsSettingCovered                          MailingAddress1  \
0             False                  255 COURTLAND STREET NE
1             False              265 PEACHTREE CENTER AVENUE
2              True                            Moreland Road
3             False              EVERGREEN CONFERENCE CENTER
4             False  1414 ANDREW YOUNG INTERNATIONAL BLVD NW

    MailingAddress2     MailingCity  MailingStateId MailingZip  ...  \
0                           ATLANTA              11      30303  ...
1                           ATLANTA              11      30303  ...
2                          BLUFFTON              41      29910  ...
3  1 LAKEVIEW DRIVE  STONE MOUNTAIN              11      30086  ...
4                           ATLANTA              11      30313  ...

              PhysicalAddress2    PhysicalCity PhysicalStateId PhysicalZip  \
0                                      ATLANTA              11       30303
1  265 PEACHTREE CENTER AVENUE         ATLANTA              11       30303
2                                     BLUFFTON              41       29910
3             1 LAKEVIEW DRIVE  STONE MOUNTAIN              11       30086
4                                      ATLANTA              11       30313

   PhysicalCountryId                                              Notes  \
0                  1
1                  1
2                  1  all the way at the end of Moreland Road, can't...
3                  1
4                  1

   IsActive PresenterId             CreatedDate  CreatedById
0      True  10000011.0 2018-06-04 11:42:41.587          141
1      True   5787203.0 2018-06-04 11:46:28.407          141
2      True   8571076.0 2018-06-04 11:52:10.490          445
3      True   6061900.0 2018-06-04 11:55:11.247          141
4      True     32803.0 2018-06-04 11:56:29.607          141

[5 rows x 22 columns]

The head of df_bluecardartist is:
   BlueCardArtistId  BlueCardId  ArtistId   Gross  Net      Notes  IsDeleted  \
0                 1           0       136  3250.0  0.0    Unknown      False
1                 2           0       296  7750.0  0.0  w/ female      False
2                 3           0     11183     0.0  0.0    Unknown      False
3                 4           0     15104     0.0  0.0    Unknown      False
4                 5           0     15104     0.0  0.0    Unknown      False

              CreatedDate  CreatedById
0 2018-06-02 04:06:42.950            0
1 2018-06-02 04:06:42.950            0
2 2018-06-02 04:06:42.950            0
3 2018-06-02 04:06:42.950            0
4 2018-06-02 04:06:42.950            0

The head of df_feedback is:
   ArtistFeedbackId  ArtistId  PresenterPortalId  ContractId  IsNegative  \
0                 1      3061                  1      100304       False
1                 2       918                  2      103526       False
2                 3       154                  3      104617       False
3                 4        55                  4      105392       False
4                 5        32                  5      105486       False

  ReviewDate                                           Feedback  \
0 2001-07-19  THE BREEZE BAND ARE THE BEST. THEY ARE NOT ONL...
1 1991-01-21                               EVRYTHING WENT GREAT
2 1991-02-15                                      BKD MIRAGE 91
3 1991-01-09                                    BKD MAINSTAY 91
4 1991-01-09                       BAND PLAYS REGULARLY AT CLUB

          CreatedDate  CreatedById
0 2006-06-07 09:03:58            0
1 2006-06-07 05:42:43            0
2 2006-06-07 02:25:48            0
3 2006-06-07 00:39:30            0
4 2006-06-07 00:19:13            0

In [18]:
print(df_venue.columns)
print(df_venue.shape)
df_venue.head()

Index(['VenueId', 'AgentId', 'Name', 'VenueSettingId', 'IsSettingCovered',
       'MailingAddress1', 'MailingAddress2', 'MailingCity', 'MailingStateId',
       'MailingZip', 'MailingCountryId', 'PhysicalAddress1',
       'PhysicalAddress2', 'PhysicalCity', 'PhysicalStateId', 'PhysicalZip',
       'PhysicalCountryId', 'Notes', 'IsActive', 'PresenterId', 'CreatedDate',
       'CreatedById'],
      dtype='object')
(3502, 22)

,VenueId,AgentId,Name,VenueSettingId,IsSettingCovered,MailingAddress1,MailingAddress2,MailingCity,MailingStateId,MailingZip,...,PhysicalAddress2,PhysicalCity,PhysicalStateId,PhysicalZip,PhysicalCountryId,Notes,IsActive,PresenterId,CreatedDate,CreatedById
0,1,141.0,HILTON ATLANTA,3,False,255 COURTLAND STREET NE,,ATLANTA,11,30303,...,,ATLANTA,11,30303,1,,True,10000011.0,2018-06-04 11:42:41.587,141
1,2,141.0,MARRIOTT MARQUIS ATLANTA,3,False,265 PEACHTREE CENTER AVENUE,,ATLANTA,11,30303,...,265 PEACHTREE CENTER AVENUE,ATLANTA,11,30303,1,,True,5787203.0,2018-06-04 11:46:28.407,141
2,3,430.0,Moreland Landing @ Palmetto Bluff,2,True,Moreland Road,,BLUFFTON,41,29910,...,,BLUFFTON,41,29910,1,"all the way at the end of Moreland Road, can't...",True,8571076.0,2018-06-04 11:52:10.490,445
3,4,141.0,EVERGREEN CONFERENCE CENTER,3,False,EVERGREEN CONFERENCE CENTER,1 LAKEVIEW DRIVE,STONE MOUNTAIN,11,30086,...,1 LAKEVIEW DRIVE,STONE MOUNTAIN,11,30086,1,,True,6061900.0,2018-06-04 11:55:11.247,141
4,5,141.0,MERCEDES-BENZ STADIUM,1,False,1414 ANDREW YOUNG INTERNATIONAL BLVD NW,,ATLANTA,11,30313,...,,ATLANTA,11,30313,1,,True,32803.0,2018-06-04 11:56:29.607,141

In [19]:
print(df_presenter.columns)
print(df_presenter.shape)
df_presenter.head()

Index(['PresenterId', 'AgentId', 'AccountName', 'OrganizationName',
       'PresenterTypeId', 'MailingAddress1', 'MailingAddress2', 'MailingCity',
       'MailingStateId', 'MailingZip', 'MailingCountryId', 'PhysicalAddress1',
       'PhysicalAddress2', 'PhysicalCity', 'PhysicalStateId', 'PhysicalZip',
       'PhysicalCountryId', 'PhysicalGeoLatitude', 'PhysicalGeoLongitude',
       'IsActive', 'CreatedDate', 'CreatedById', 'ParentPresenterId'],
      dtype='object')
(89911, 23)

,PresenterId,AgentId,AccountName,OrganizationName,PresenterTypeId,MailingAddress1,MailingAddress2,MailingCity,MailingStateId,MailingZip,...,PhysicalCity,PhysicalStateId,PhysicalZip,PhysicalCountryId,PhysicalGeoLatitude,PhysicalGeoLongitude,IsActive,CreatedDate,CreatedById,ParentPresenterId
0,0,281,ASD,Unknown,99,Unknown,Unknown,Unknown,999,Unknown,...,Unknown,999,Unknown,1,35.7373,-80.770107,False,2016-11-10,281,0
1,8,107,COLLEGE OF WILLIAM AND MARY,BETA THETA PI,49,700 UKROP WAY UNIT M,COLLEGE OF WILLIAM & MARY,WILLIAMSBURG,46,Unknown,...,WILLIAMSBURG,46,Unknown,1,37.2458,-76.697000,True,2012-06-04,107,0
2,32,443,WAKE SUPPLY CO,Unknown,8,1700 JEFFREY ST,Unknown,RALEIGH,28,27610,...,RALEIGH,28,27610,1,35.7455,-78.546700,False,2003-12-30,443,0
3,82,435,MARRIOTT/RICHMOND,Unknown,99,Unknown,Unknown,Unknown,999,Unknown,...,Unknown,999,Unknown,1,35.7373,-80.770107,False,2012-04-11,435,0
4,85,253,[Unknown],Unknown,99,Unknown,Unknown,Unknown,999,Unknown,...,Unknown,999,Unknown,1,35.7373,-80.770107,False,2009-06-12,253,0

In [20]:
print(df_feedback.columns)
print(df_feedback.shape)
df_feedback.head()

Index(['ArtistFeedbackId', 'ArtistId', 'PresenterPortalId', 'ContractId',
       'IsNegative', 'ReviewDate', 'Feedback', 'CreatedDate', 'CreatedById'],
      dtype='object')
(47430, 9)

,ArtistFeedbackId,ArtistId,PresenterPortalId,ContractId,IsNegative,ReviewDate,Feedback,CreatedDate,CreatedById
0,1,3061,1,100304,False,2001-07-19,THE BREEZE BAND ARE THE BEST. THEY ARE NOT ONL...,2006-06-07 09:03:58,0
1,2,918,2,103526,False,1991-01-21,EVRYTHING WENT GREAT,2006-06-07 05:42:43,0
2,3,154,3,104617,False,1991-02-15,BKD MIRAGE 91,2006-06-07 02:25:48,0
3,4,55,4,105392,False,1991-01-09,BKD MAINSTAY 91,2006-06-07 00:39:30,0
4,5,32,5,105486,False,1991-01-09,BAND PLAYS REGULARLY AT CLUB,2006-06-07 00:19:13,0

In [21]:
print(df_bluecardartist.columns)
print(df_bluecardartist.shape)
df_bluecardartist.head()

Index(['BlueCardArtistId', 'BlueCardId', 'ArtistId', 'Gross', 'Net', 'Notes',
       'IsDeleted', 'CreatedDate', 'CreatedById'],
      dtype='object')
(829413, 9)

,BlueCardArtistId,BlueCardId,ArtistId,Gross,Net,Notes,IsDeleted,CreatedDate,CreatedById
0,1,0,136,3250.0,0.0,Unknown,False,2018-06-02 04:06:42.950,0
1,2,0,296,7750.0,0.0,w/ female,False,2018-06-02 04:06:42.950,0
2,3,0,11183,0.0,0.0,Unknown,False,2018-06-02 04:06:42.950,0
3,4,0,15104,0.0,0.0,Unknown,False,2018-06-02 04:06:42.950,0
4,5,0,15104,0.0,0.0,Unknown,False,2018-06-02 04:06:42.950,0

In [22]:
print(df_genre.columns)
print(df_genre.shape)
df_genre.head()

Index(['GenreTypeId', 'Name', 'IsActive'], dtype='object')
(137, 3)

   GenreTypeId                     Name  IsActive
0            1  A Cappella/Vocal Groups      True
1            2                 Acrobats      True
2            3                  African      True
3            4       Animal/Circus Acts      True
4            5             Audio Visual      True

In [23]:
print(df_act.columns)
print(df_act.shape)
df_act.head()

Index(['ActTypeId', 'Name', 'IsActive'], dtype='object')
(11, 3)

   ActTypeId           Name  IsActive
0          1          Bands      True
1          2      Classical      True
2          3      Comedians      True
3          4            DJs      True
4          5  International      True

## Content Filtering

### Artist Recommendation System using content-based filtering with TF-IDF and cosine similarity.

**Steps in the Code:**
- 1. Preprocess Data: Combine relevant artist features (Name, Genre, Location, Feedback).
- 2. Vectorize Text Features: Convert artist text data into numerical form using TF-IDF.
- 3. Compute Similarity: Use cosine similarity to find similar artists.
- 4. Recommend Artists: Retrieve top N most similar artists.

**Step1**

In [20]:
import pandas as pd

# Make a copy of the artist dataframe
df_artist = artist_df.copy()



# Combine important textual features to create a unified content representation
df_artist['combined_features'] = (
    df_artist['Name'] + " " + 
    df_artist['PhysicalAddressCity'] + " " + 
    df_artist['IsNational'].astype(str) + " " + 
    df_artist['IsExclusive'].astype(str)
)

# Display the combined features
df_artist[['Name', 'combined_features']].head()

                  Name                            combined_features
0                    O                       O RICHMOND False False
1        GROOVE DELUXE          GROOVE DELUXE ROCK HILL False False
2  QUINTON PARKER BAND      QUINTON PARKER BAND ASHLAND False False
3  BILL BOLEN BAND (4)  BILL BOLEN BAND (4) CHAPEL HILL False False
4       88 KEYS WILSON   88 KEYS WILSON CHARLOTTESVILLE False False

**Step2**

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize TF-IDF vectorizer (removes common stopwords)
vectorizer = TfidfVectorizer(stop_words='english')

# Transform the combined text features into a numerical TF-IDF matrix
tfidf_matrix = vectorizer.fit_transform(df_artist['combined_features'])

# Print the shape of the TF-IDF matrix to confirm it worked
print(f"TF-IDF Matrix Shape: {tfidf_matrix.shape}")

TF-IDF Matrix Shape: (23590, 17071)

**Step3**

In [22]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute cosine similarity between artist feature vectors
artist_similarity = cosine_similarity(tfidf_matrix)

# Print similarity matrix shape
print(f"Artist Similarity Matrix Shape: {artist_similarity.shape}")

Artist Similarity Matrix Shape: (23590, 23590)

In [32]:
artist_similarity

array([[1.        , 0.06519239, 0.06078754, ..., 0.0731173 , 0.02418068,
        0.06787655],
       [0.06519239, 1.        , 0.01841539, ..., 0.02215065, 0.00732546,
        0.02056298],
       [0.06078754, 0.01841539, 1.        , ..., 0.020654  , 0.0068305 ,
        0.0191736 ],
       ...,
       [0.0731173 , 0.02215065, 0.020654  , ..., 1.        , 0.00821595,
        0.02306265],
       [0.02418068, 0.00732546, 0.0068305 , ..., 0.00821595, 1.        ,
        0.58104129],
       [0.06787655, 0.02056298, 0.0191736 , ..., 0.02306265, 0.58104129,
        1.        ]])

**Step4**

In [30]:
def recommend_artists(artist_name, df, similarity_matrix, top_n=5):
    """ Recommends similar artists based on content similarity. """
    
    # Ensure the artist exists in the dataset
    if artist_name not in df['Name'].values:
        print("Artist not found in the dataset!")
        return []

    # Find index of the given artist
    idx = df[df['Name'] == artist_name].index[0]

    # Get similarity scores for all artists
    scores = list(enumerate(similarity_matrix[idx]))
    
    # Sort scores in descending order (highest similarity first)
    scores = sorted(scores, key=lambda x: x[1], reverse=True)
    
    # Get indices of the top N most similar artists (excluding itself)
    recommended_indices = [i[0] for i in scores[1:top_n+1]]

    # Return recommended artists
    return df.iloc[recommended_indices][['Name', 'PhysicalAddressCity', 'IsNational', 'IsExclusive']]

In [33]:
def get_similarity_score(artist_name, artist_df, artist_similarity):
    if artist_name not in artist_df['Name'].values:
        return None  # If artist is not found in dataset

    # Get index of artist in dataframe
    artist_idx = artist_df[artist_df['Name'] == artist_name].index[0]

    # Extract similarity scores
    similarity_scores = artist_similarity[artist_idx]

    return similarity_scores[artist_idx]  # Self-similarity

#### Testing the Recommendation system

In [31]:
# Choose an artist for testing
artist_name = "AFTER 6"  # Replace with an artist from your dataset

# Get recommendations
recommended_artists = recommend_artists(artist_name, df_artist, artist_similarity, top_n=5)

recommend_artists

               Name PhysicalAddressCity  IsNational  IsExclusive
321     FULL CIRCLE           ROCK HILL       False        False
11003       FANTASY           ROCK HILL       False         True
543           PLAIR           ROCK HILL       False        False
3827   THE EMERALDS           ROCK HILL       False        False
9543      KINGDADDY           ROCK HILL       False        False

In [46]:
import pandas as pd
import numpy as np

# Assume artist_index is the row index of the input artist in the similarity matrix
artist_index = 3  # Example artist row in matrix

# Extract similarity scores for the given artist
similarity_scores = list(enumerate(artist_similarity[artist_index]))

# Sort recommendations by similarity score (descending order) and exclude the first entry (the artist itself)
sorted_similar_artists = sorted(similarity_scores, key=lambda x: x[1], reverse=True)[1:11]

# Extract artist indices and their similarity scores
recommended_indices = [i[0] for i in sorted_similar_artists]
similarity_values = [i[1] for i in sorted_similar_artists]

# Select only the "Name" column from artist_df for recommended artists
recommended_artists = artist_df.iloc[recommended_indices][["Name"]].copy()

# Add similarity scores to the dataframe
recommended_artists["Similarity Score"] = similarity_values

# Reset index for cleaner display
recommended_artists.reset_index(drop=True, inplace=True)

# Display the result
recommended_artists

                      Name  Similarity Score
0          BILL BOLEN BAND          1.000000
1          BILL BOLEN SOLO          0.865877
2     BILL BOLEN JAZZ TRIO          0.820024
3           THE DREAM BAND          0.539166
4        REALITY SHOW BAND          0.528303
5          SWING CITY BAND          0.519508
6                  MEMPHIS          0.517324
7     PART TIME PARTY BAND          0.505573
8           THE TROUT BAND          0.489105
9  THE FABULOUS DANCE BAND          0.480303

### Artist-to-Venue Recommendations

 **Step 1:  Prepare Separate Feature Vectors**

In [50]:
# Ensure 'ArtistId' is common between df_artist and df_bluecardartist
artist_revenue = df_bluecardartist.groupby('ArtistId')['Gross'].sum().reset_index()
artist_revenue.rename(columns={'Gross': 'Total Revenue'}, inplace=True)

In [52]:
df_artist = df_artist.merge(artist_revenue, on='ArtistId', how='left')

# Fill NaN values with 0 (if an artist has no revenue record)
df_artist['Total Revenue'] = df_artist['Total Revenue'].fillna(0)

In [54]:
# Count total feedback per artist
total_feedback = df_feedback.groupby("ArtistId")["IsNegative"].count().reset_index()
total_feedback.rename(columns={"IsNegative": "Total Feedback"}, inplace=True)

# Count positive feedback per artist (where IsNegative=False)
positive_feedback = df_feedback[df_feedback["IsNegative"] == False].groupby("ArtistId")["IsNegative"].count().reset_index()
positive_feedback.rename(columns={"IsNegative": "Positive Feedback"}, inplace=True)

# Merge total and positive feedback counts
feedback_stats = total_feedback.merge(positive_feedback, on="ArtistId", how="left").fillna(0)

# Compute Positive Feedback Ratio
feedback_stats["Positive Feedback Ratio"] = feedback_stats["Positive Feedback"] / feedback_stats["Total Feedback"]

# Fill NaN values (artists without feedback) with 0
feedback_stats["Positive Feedback Ratio"] = feedback_stats["Positive Feedback Ratio"].fillna(0)

In [55]:
df_artist = df_artist.merge(feedback_stats[["ArtistId", "Positive Feedback Ratio"]], on="ArtistId", how="left")

# Fill missing values with 0 (for artists without feedback)
df_artist["Positive Feedback Ratio"] = df_artist["Positive Feedback Ratio"].fillna(0)

In [56]:
df_artist['combined_features'] = (
    df_artist['Name'] + " " +
    df_artist['PhysicalAddressCity'].fillna("") + " " +
    df_artist['IsNational'].astype(str) + " " +
    df_artist['IsExclusive'].astype(str) + " " +
    df_artist['Total Revenue'].astype(str) + " " +  # From df_bluecardartist
    df_artist['Positive Feedback Ratio'].astype(str)  # From df_feedback
)

In [57]:
df_venue['combined_features'] = (
    df_venue['Name'] + " " +
    df_venue['MailingCity'].fillna("") + " " +
    df_venue['MailingStateId'].astype(str) + " " +
    df_venue['PresenterId'].astype(str)  # Include presenter info
)

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# TF-IDF Vectorizer
vectorizer = TfidfVectorizer(stop_words='english')

# Fit & transform both artist and venue features
artist_tfidf = vectorizer.fit_transform(df_artist['combined_features'])
venue_tfidf = vectorizer.transform(df_venue['combined_features'])

# Compute cosine similarity between artists & venues
artist_venue_similarity = cosine_similarity(artist_tfidf, venue_tfidf)

print("Shape of Artist-Venue Similarity Matrix:", artist_venue_similarity.shape)

Shape of Artist-Venue Similarity Matrix: (23590, 3502)

In [59]:
def recommend_venues_for_artist(artist_index, top_n=5):
    # Get similarity scores for the given artist
    similarity_scores = list(enumerate(artist_venue_similarity[artist_index]))

    # Sort venues based on similarity scores
    sorted_venues = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    # Get the top N venues
    top_venues = sorted_venues[:top_n]

    # Extract venue details
    recommended_venues = df_venue.iloc[[i[0] for i in top_venues]].copy()
    recommended_venues["Similarity Score"] = [i[1] for i in top_venues]

    return recommended_venues[['VenueId', 'Name', 'MailingCity', 'MailingStateId', 'Similarity Score']]

# Example: Recommend venues for the first artist in df_artist
artist_index = 3  # Change this to any artist index
recommended_venues = recommend_venues_for_artist(artist_index, top_n=5)
recommended_venues

,VenueId,Name,MailingCity,MailingStateId,Similarity Score
634,635,THE BARN AT VALHALLA,CHAPEL HILL,28,0.526199
773,774,UNC/CH,CHAPEL HILL,28,0.526199
1455,1456,THE BARN OF CHAPEL HILL,CHAPEL HILL,28,0.526199
565,566,TOP OF THE HILL RESTAURANT & BREWERY,CHAPEL HILL,28,0.497586
1793,1794,CHAPEL HILL COUNTRY CLUB,CHAPEL HILL,28,0.445660

In [60]:
def recommend_venues_for_artist(artist_name, top_n=5):
    # Find the artist index from their name
    artist_index = df_artist[df_artist['Name'].str.lower() == artist_name.lower()].index

    if len(artist_index) == 0:
        print(f"Artist '{artist_name}' not found in dataset.")
        return None
    
    artist_index = artist_index[0]  # Get the first match
    
    # Get similarity scores for the given artist
    similarity_scores = list(enumerate(artist_venue_similarity[artist_index]))

    # Sort venues based on similarity scores
    sorted_venues = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    # Get the top N venues
    top_venues = sorted_venues[:top_n]

    # Extract venue details
    recommended_venues = df_venue.iloc[[i[0] for i in top_venues]].copy()
    recommended_venues["Similarity Score"] = [i[1] for i in top_venues]

    return recommended_venues[['VenueId', 'Name', 'MailingCity', 'MailingStateId', 'Similarity Score']]

# Example: Recommend venues for "GROOVE DELUXE"
artist_name = "GROOVE DELUXE"
recommended_venues = recommend_venues_for_artist(artist_name, top_n=5)
recommended_venues

,VenueId,Name,MailingCity,MailingStateId,Similarity Score
2276,2277,Brakefield at Riverwalk,Rock Hill,41,0.588259
1023,1024,Rock Hill Country Club,Rock Hill,41,0.499915
2940,2941,The White Home,Rock Hill,41,0.352713
565,566,TOP OF THE HILL RESTAURANT & BREWERY,CHAPEL HILL,28,0.338342
914,915,THE MAGNOLIA ROOM,Rock Hill,41,0.328631

### Evaluation

In [28]:
def precision_at_k(recommended_venues, actual_venues, k=5):
    """
    Computes Precision at K (P@K) given the recommended and actual venues.
    """
    recommended_set = set(recommended_venues[:k])
    actual_set = set(actual_venues)
    
    precision = len(recommended_set & actual_set) / k
    return precision

In [29]:
def recall_at_k(recommended_venues, actual_venues, k=5):
    """
    Computes Recall at K (R@K) given the recommended and actual venues.
    """
    recommended_set = set(recommended_venues[:k])
    actual_set = set(actual_venues)
    
    if len(actual_set) == 0:
        return 0  # Avoid division by zero

    recall = len(recommended_set & actual_set) / len(actual_set)
    return recall

In [30]:
def mean_average_precision(recommendations, ground_truth, k=5):
    """
    Computes Mean Average Precision (MAP) at K.
    recommendations: Dictionary {artist_name: recommended_venues_list}
    ground_truth: Dictionary {artist_name: actual_venues_list}
    """
    average_precisions = []

    for artist, rec_venues in recommendations.items():
        if artist in ground_truth:
            actual_venues = ground_truth[artist]
            precision_scores = [
                precision_at_k(rec_venues, actual_venues, k=i+1) for i in range(k)
            ]
            if actual_venues:
                ap = sum(precision_scores) / min(len(actual_venues), k)
                average_precisions.append(ap)

    return sum(average_precisions) / len(average_precisions) if average_precisions else 0

In [31]:
def coverage(recommendations, all_venues):
    """
    Computes recommendation coverage.
    recommendations: List of recommended venues across all artists.
    all_venues: Total number of venues in dataset.
    """
    unique_recommended_venues = set(recommendations)
    return len(unique_recommended_venues) / len(all_venues)

In [32]:
def mean_reciprocal_rank(recommendations, ground_truth):
    """
    Computes Mean Reciprocal Rank (MRR).
    recommendations: Dictionary {artist_name: recommended_venues_list}
    ground_truth: Dictionary {artist_name: actual_venues_list}
    """
    reciprocal_ranks = []
    
    for artist, rec_venues in recommendations.items():
        if artist in ground_truth:
            actual_venues = ground_truth[artist]
            for rank, venue in enumerate(rec_venues, start=1):
                if venue in actual_venues:
                    reciprocal_ranks.append(1 / rank)
                    break

    return sum(reciprocal_ranks) / len(reciprocal_ranks) if reciprocal_ranks else 0

In [67]:
print(df_artist.columns)
print(df_venue.columns)
print(df_presenter.columns)
print(df_bluecardartist.columns)

Index(['ArtistId', 'Name', 'MailingCountryId', 'PhysicalAddressCity',
       'PhysicalAddressStateId', 'PhysicalGeoLatitude', 'PhysicalGeoLongitude',
       'IsActive', 'IsExclusive', 'CreatedDate', 'UpdatedDate', 'IsNational',
       'IsNotParticipating', 'combined_features', 'Total Revenue',
       'Positive Feedback Ratio'],
      dtype='object')
Index(['VenueId', 'AgentId', 'Name', 'VenueSettingId', 'IsSettingCovered',
       'MailingAddress1', 'MailingAddress2', 'MailingCity', 'MailingStateId',
       'MailingZip', 'MailingCountryId', 'PhysicalAddress1',
       'PhysicalAddress2', 'PhysicalCity', 'PhysicalStateId', 'PhysicalZip',
       'PhysicalCountryId', 'Notes', 'IsActive', 'PresenterId', 'CreatedDate',
       'CreatedById', 'combined_features'],
      dtype='object')
Index(['PresenterId', 'AgentId', 'AccountName', 'OrganizationName',
       'PresenterTypeId', 'MailingAddress1', 'MailingAddress2', 'MailingCity',
       'MailingStateId', 'MailingZip', 'MailingCountryId', 'PhysicalAddress1',
       'PhysicalAddress2', 'PhysicalCity', 'PhysicalStateId', 'PhysicalZip',
       'PhysicalCountryId', 'PhysicalGeoLatitude', 'PhysicalGeoLongitude',
       'IsActive', 'CreatedDate', 'CreatedById', 'ParentPresenterId'],
      dtype='object')
Index(['BlueCardArtistId', 'BlueCardId', 'ArtistId', 'Gross', 'Net', 'Notes',
       'IsDeleted', 'CreatedDate', 'CreatedById'],
      dtype='object')

## Hybrid Content-Based Filtering Model

The model utilizes TF-IDF vectorization for textual features, lightweight feature-based similarity scoring, and Scikit-learn's NearestNeighbors for recommendations.

Steps:

- Load & Preprocess Data (df_artist, df_presenter, df_venue)
- Extract Text-Based Features using TF-IDF
- Compute Similarity Scores
- Train a lightweight KNN model for recommendations
- Deploy on AzureML

In [39]:
!pip install azureml-sdk scikit-learn pandas numpy scipy

Requirement already satisfied: azureml-sdk in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (1.57.0)
Requirement already satisfied: scikit-learn in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: pandas in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (1.3.5)
Requirement already satisfied: numpy in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (1.23.5)
Requirement already satisfied: scipy in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (1.10.1)
Requirement already satisfied: azureml-pipeline~=1.57.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-sdk) (1.57.0)
Requirement already satisfied: azureml-dataset-runtime[fuse]~=1.57.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-sdk) (1.57.0)
Requirement already satisfied: azureml-train-core~=1.57.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-sdk) (1.57.0)
Requirement already satisfied: azureml-core~=1.57.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-sdk) (1.57.0)
Requirement already satisfied: azureml-train-automl-client~=1.57.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-sdk) (1.57.0)
Requirement already satisfied: joblib>=1.2.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2017.3 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from pandas) (2022.5)
Requirement already satisfied: urllib3<3.0.0,>1.26.17 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (1.26.19)
Requirement already satisfied: azure-mgmt-authorization<5,>=0.40.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (4.0.0)
Requirement already satisfied: paramiko<4.0.0,>=2.0.8 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (3.4.0)
Requirement already satisfied: azure-mgmt-resource<=24.0.0,>=15.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (23.1.1)
Requirement already satisfied: adal<=1.2.7,>=1.2.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (1.2.7)
Requirement already satisfied: msal-extensions<=2.0.0,>=0.3.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (1.2.0)
Requirement already satisfied: msrestazure<=0.7,>=0.4.33 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (0.6.4.post1)
Requirement already satisfied: pyopenssl<25.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (23.0.0)
Requirement already satisfied: knack<0.12.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (0.11.0)
Requirement already satisfied: docker<8.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (7.1.0)
Requirement already satisfied: jmespath<2.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (0.10.0)
Requirement already satisfied: azure-graphrbac<1.0.0,>=0.40.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (0.60.0)
Requirement already satisfied: contextlib2<22.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (21.6.0)
Requirement already satisfied: jsonpickle<4.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (3.2.2)
Requirement already satisfied: azure-mgmt-containerregistry<11,>=8.2.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (10.3.0)
Requirement already satisfied: msrest<=0.7.1,>=0.5.1 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (0.7.1)
Requirement already satisfied: pkginfo in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (1.11.1)
Requirement already satisfied: azure-core<2.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (1.30.2)
Requirement already satisfied: pathspec<1.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (0.12.1)
Requirement already satisfied: azure-mgmt-storage<=22.0.0,>=16.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (21.2.0)
Requirement already satisfied: requests[socks]<3.0.0,>=2.19.1 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (2.32.3)
Requirement already satisfied: azure-common<2.0.0,>=1.1.12 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (1.1.28)
Requirement already satisfied: ndg-httpsclient<=0.5.1 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (0.5.1)
Requirement already satisfied: azure-mgmt-network<=26.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (25.1.0)
Requirement already satisfied: azure-mgmt-keyvault<11.0.0,>=0.40.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (10.3.0)
Requirement already satisfied: argcomplete<4 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (3.3.0)
Requirement already satisfied: msal<2.0.0,>=1.15.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (1.30.0)
Requirement already satisfied: backports.tempfile in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (1.0)
Requirement already satisfied: packaging<=25.0,>=20.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (24.1)
Requirement already satisfied: SecretStorage<4.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (3.3.3)
Requirement already satisfied: PyJWT<3.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (2.4.0)
Requirement already satisfied: humanfriendly<11.0,>=4.7 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-core~=1.57.0->azureml-sdk) (10.0)
Requirement already satisfied: azureml-dataprep<5.2.0a,>=5.1.0a in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (5.1.6)
Requirement already satisfied: pyarrow>=0.17.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (14.0.2)
Requirement already satisfied: fusepy<4.0.0,>=3.0.1 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (3.0.1)
Requirement already satisfied: azureml-pipeline-core~=1.57.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-pipeline~=1.57.0->azureml-sdk) (1.57.0)
Requirement already satisfied: azureml-pipeline-steps~=1.57.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-pipeline~=1.57.0->azureml-sdk) (1.57.0)
Requirement already satisfied: azureml-telemetry~=1.57.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-train-automl-client~=1.57.0->azureml-sdk) (1.57.0)
Requirement already satisfied: azureml-automl-core~=1.57.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-train-automl-client~=1.57.0->azureml-sdk) (1.57.0)
Requirement already satisfied: azureml-train-restclients-hyperdrive~=1.57.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-train-core~=1.57.0->azureml-sdk) (1.57.0)
Requirement already satisfied: six>=1.5 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: cryptography>=1.1.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from adal<=1.2.7,>=1.2.0->azureml-core~=1.57.0->azureml-sdk) (38.0.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azure-core<2.0.0->azureml-core~=1.57.0->azureml-sdk) (4.12.2)
Requirement already satisfied: isodate<1.0.0,>=0.6.1 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azure-mgmt-authorization<5,>=0.40.0->azureml-core~=1.57.0->azureml-sdk) (0.6.1)
Requirement already satisfied: azure-mgmt-core<2.0.0,>=1.3.2 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azure-mgmt-authorization<5,>=0.40.0->azureml-core~=1.57.0->azureml-sdk) (1.4.0)
Requirement already satisfied: importlib-metadata<=8.2.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-automl-core~=1.57.0->azureml-train-automl-client~=1.57.0->azureml-sdk) (8.2.0)
Requirement already satisfied: importlib-resources<=6.4.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-automl-core~=1.57.0->azureml-train-automl-client~=1.57.0->azureml-sdk) (6.4.0)
Requirement already satisfied: azureml-dataprep-native<42.0.0,>=41.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-dataprep<5.2.0a,>=5.1.0a->azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (41.0.0)
Requirement already satisfied: pyyaml<7.0.0,>=5.1.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-dataprep<5.2.0a,>=5.1.0a->azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (6.0.1)
Requirement already satisfied: cloudpickle<3.0.0,>=1.1.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-dataprep<5.2.0a,>=5.1.0a->azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (2.2.1)
Requirement already satisfied: azure-identity>=1.7.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-dataprep<5.2.0a,>=5.1.0a->azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (1.17.1)
Requirement already satisfied: jsonschema in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-dataprep<5.2.0a,>=5.1.0a->azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (4.23.0)
Requirement already satisfied: azureml-dataprep-rslex~=2.22.2dev0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-dataprep<5.2.0a,>=5.1.0a->azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (2.22.2)
Requirement already satisfied: applicationinsights in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from azureml-telemetry~=1.57.0->azureml-train-automl-client~=1.57.0->azureml-sdk) (0.11.10)
Requirement already satisfied: pygments in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from knack<0.12.0->azureml-core~=1.57.0->azureml-sdk) (2.18.0)
Requirement already satisfied: tabulate in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from knack<0.12.0->azureml-core~=1.57.0->azureml-sdk) (0.9.0)
Requirement already satisfied: portalocker<3,>=1.4 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from msal-extensions<=2.0.0,>=0.3.0->azureml-core~=1.57.0->azureml-sdk) (2.10.1)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from msrest<=0.7.1,>=0.5.1->azureml-core~=1.57.0->azureml-sdk) (2024.8.30)
Requirement already satisfied: requests-oauthlib>=0.5.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from msrest<=0.7.1,>=0.5.1->azureml-core~=1.57.0->azureml-sdk) (2.0.0)
Requirement already satisfied: pyasn1>=0.1.1 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from ndg-httpsclient<=0.5.1->azureml-core~=1.57.0->azureml-sdk) (0.6.0)
Requirement already satisfied: bcrypt>=3.2 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from paramiko<4.0.0,>=2.0.8->azureml-core~=1.57.0->azureml-sdk) (4.2.0)
Requirement already satisfied: pynacl>=1.5 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from paramiko<4.0.0,>=2.0.8->azureml-core~=1.57.0->azureml-sdk) (1.5.0)
Requirement already satisfied: idna<4,>=2.5 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from requests[socks]<3.0.0,>=2.19.1->azureml-core~=1.57.0->azureml-sdk) (3.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from requests[socks]<3.0.0,>=2.19.1->azureml-core~=1.57.0->azureml-sdk) (3.3.2)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from requests[socks]<3.0.0,>=2.19.1->azureml-core~=1.57.0->azureml-sdk) (1.7.1)
Requirement already satisfied: jeepney>=0.6 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from SecretStorage<4.0.0->azureml-core~=1.57.0->azureml-sdk) (0.8.0)
Requirement already satisfied: backports.weakref in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from backports.tempfile->azureml-core~=1.57.0->azureml-sdk) (1.0.post1)
Requirement already satisfied: cffi>=1.12 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from cryptography>=1.1.0->adal<=1.2.7,>=1.2.0->azureml-core~=1.57.0->azureml-sdk) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from importlib-metadata<=8.2.0->azureml-automl-core~=1.57.0->azureml-train-automl-client~=1.57.0->azureml-sdk) (3.19.2)
Requirement already satisfied: oauthlib>=3.0.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from requests-oauthlib>=0.5.0->msrest<=0.7.1,>=0.5.1->azureml-core~=1.57.0->azureml-sdk) (3.2.2)
Requirement already satisfied: attrs>=22.2.0 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from jsonschema->azureml-dataprep<5.2.0a,>=5.1.0a->azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from jsonschema->azureml-dataprep<5.2.0a,>=5.1.0a->azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from jsonschema->azureml-dataprep<5.2.0a,>=5.1.0a->azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from jsonschema->azureml-dataprep<5.2.0a,>=5.1.0a->azureml-dataset-runtime[fuse]~=1.57.0->azureml-sdk) (0.19.1)
Requirement already satisfied: pycparser in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=1.1.0->adal<=1.2.7,>=1.2.0->azureml-core~=1.57.0->azureml-sdk) (2.22)

In [125]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors
from azureml.core import Workspace, Dataset, Experiment, Model
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import average_precision_score
from sklearn.preprocessing import MinMaxScaler

In [126]:
# Preprocess Data - Fill NaNs with Empty Strings
artist_df.fillna("", inplace=True)
df_presenter.fillna("", inplace=True)
df_venue.fillna("", inplace=True)

# Combine Relevant Text Features for Content-Based Filtering
artist_df["combined_features"] = (
    artist_df["Name"] + " " + artist_df["PhysicalAddressCity"] + " " + artist_df["PhysicalAddressStateId"].astype(str)
)

df_presenter["combined_features"] = (
    df_presenter["AccountName"] + " " + df_presenter["MailingCity"] + " " + df_presenter["MailingStateId"].astype(str)
)

df_venue["combined_features"] = (
    df_venue["Name"] + " " + df_venue["MailingCity"] + " " + df_venue["MailingStateId"].astype(str)
)

In [127]:
# TF-IDF Vectorization
tfidf_vectorizer = TfidfVectorizer(stop_words="english", max_features=5000)

# Fit TF-IDF on Artists & Presenters/Venues
tfidf_artist = tfidf_vectorizer.fit_transform(artist_df["combined_features"])
tfidf_presenter = tfidf_vectorizer.transform(df_presenter["combined_features"])
tfidf_venue = tfidf_vectorizer.transform(df_venue["combined_features"])

In [128]:
# Use Nearest Neighbors for Similarity Search
knn_model_presenter = NearestNeighbors(n_neighbors=5, metric="cosine", algorithm="brute")
knn_model_presenter.fit(tfidf_presenter)

knn_model_venue = NearestNeighbors(n_neighbors=5, metric="cosine", algorithm="brute")
knn_model_venue.fit(tfidf_venue)

NearestNeighbors(algorithm='brute', metric='cosine')

In [129]:
# Function to Get Recommendations as DataFrame
def recommend_presenters_df(artist_name, top_n=5):
    artist_index = artist_df[artist_df["Name"] == artist_name].index[0]
    artist_vector = tfidf_artist[artist_index]

    distances, indices = knn_model_presenter.kneighbors(artist_vector, n_neighbors=top_n)
    
    results = pd.DataFrame({
        "Presenter Name": df_presenter.iloc[indices[0]]["AccountName"].values,
        "Similarity Score": 1 - distances[0]  # Convert cosine distance to similarity
    }).sort_values(by="Similarity Score", ascending=False)
    
    return results

In [130]:
def recommend_venues_df(artist_name, top_n=5):
    artist_index = artist_df[artist_df["Name"] == artist_name].index[0]
    artist_vector = tfidf_artist[artist_index]

    distances, indices = knn_model_venue.kneighbors(artist_vector, n_neighbors=top_n)
    
    results = pd.DataFrame({
        "Venue Name": df_venue.iloc[indices[0]]["Name"].values,
        "Similarity Score": 1 - distances[0]  # Convert cosine distance to similarity
    }).sort_values(by="Similarity Score", ascending=False)
    
    return results

In [131]:
artist_name = "GROOVE DELUXE"

print("Recommended Presenters for:", artist_name)
display(recommend_presenters_df(artist_name))

print("Recommended Venues for:", artist_name)
display(recommend_venues_df(artist_name))

Recommended Presenters for: GROOVE DELUXE

                             Presenter Name  Similarity Score
0                            Aylie Burnette          0.630692
1  SOUTHEASTERN ASSN. OF TAX ADMINISTRATORS          0.630692
2                          HOECHST-CELANESE          0.630692
3                           OSTROW TEXTILES          0.630692
4                Coroplast Tape Corporation          0.630692

Recommended Venues for: GROOVE DELUXE

                                       Venue Name  Similarity Score
0                         Brakefield at Riverwalk          0.630692
1                          Rock Hill Country Club          0.528473
2  Legal Remedy Brewing Riverwalk (LRB Riverwalk)          0.439995
3                            Legal Remedy Brewing          0.439995
4                           WESTGLOW RESORT & SPA          0.408019

For the presenters, the lowercase and uppercase difference causes a mismatch.

Possible Reasons for the Mismatch - 

1) Text Formatting Issues - The recommended presenter names may have different cases, spaces, or formatting than the actual names.

Example:
Recommended: "COLLEGE OF WILLIAM AND MARY"
Actual: "College of William and Mary"

These will not match due to capitalization.

2) Too Few Similar Recommendations

If the TF-IDF + KNN model is not capturing similar presenters well, recommendations may not include the actual correct ones.

3) Ground Truth is Too Small

If the ground truth has only 1-2 correct presenters per artist, the chance of overlap is lower.

### Evaluation Metrics

In [132]:
def evaluate_recommendations(recommended, actual, k=5):
    precision_list = []
    recall_list = []
    mrr_list = []

    for artist in actual.keys():
        recs = recommended.get(artist, [])[:k]  # Get top-k recommendations
        actual_set = set(actual[artist])  # Convert to set for lookup
        
        # Precision@k = Relevant recommendations / Total recommended
        precision = len(set(recs) & actual_set) / k
        
        # Recall@k = Relevant recommendations / Total actual relevant items
        recall = len(set(recs) & actual_set) / len(actual_set) if actual_set else 0
        
        # MRR = 1 / (rank of first relevant item), 0 if no relevant item found
        mrr = next((1 / (i + 1) for i, rec in enumerate(recs) if rec in actual_set), 0)

        precision_list.append(precision)
        recall_list.append(recall)
        mrr_list.append(mrr)

    # Compute average scores
    metrics = {
        "Precision@k": np.mean(precision_list),
        "Recall@k": np.mean(recall_list),
        "MRR": np.mean(mrr_list)
    }
    
    return metrics

In [133]:
# Example Ground Truth Data (Replace with actual matches)
ground_truth_presenters = {
    "GROOVE DELUXE": ["COLLEGE OF WILLIAM AND MARY", "WAKE SUPPLY CO"],
    "88 KEYS WILSON": ["HILTON ATLANTA", "MARRIOTT MARQUIS ATLANTA"],
}

# Get Recommendations for All Artists in Ground Truth
recommended_presenters = {artist: recommend_presenters_df(artist)["Presenter Name"].tolist() for artist in ground_truth_presenters.keys()}

# Run Evaluation
metrics = evaluate_recommendations(recommended_presenters, ground_truth_presenters, k=5)

# Display Results as a DataFrame
metrics_df = pd.DataFrame(metrics.items(), columns=["Metric", "Value"])
display(metrics_df)

        Metric  Value
0  Precision@k    0.0
1     Recall@k    0.0
2          MRR    0.0

## Corrected Version

Train a Simple Classification Model (Logistic Regression)

Predict whether an artist is a good match for a presenter/venue

Instead of distance-based similarity, we will predict a match score

Recommend Top Matches Based on Model Scores

The model scores match probabilities

Improve Feature Engineering for Meaningful Recommendations

Add features like artist genre, city, act type, presenter type

In [85]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [86]:
# Fill NaN values
artist_df.fillna("", inplace=True)
df_presenter.fillna("", inplace=True)
df_venue.fillna("", inplace=True)

In [88]:
# Function to Normalize Text (lowercase + strip whitespace)
def normalize_text(text):
    return str(text).strip().lower()

# Ensure necessary columns exist
for col in ["GenreTypeId", "ActTypeId"]:
    if col not in artist_df.columns:
        artist_df[col] = "Unknown"

# Create Combined Features for TF-IDF with More Distinguishing Information
artist_df["combined_features"] = (
    artist_df["Name"].apply(normalize_text) + " " +
    artist_df["PhysicalAddressCity"].apply(normalize_text) + " " +
    artist_df["PhysicalAddressStateId"].astype(str) + " " +
    artist_df["IsActive"].astype(str) + " " +
    artist_df["GenreTypeId"].astype(str) + " " +  
    artist_df["ActTypeId"].astype(str) 
)

df_presenter["combined_features"] = (
    df_presenter["AccountName"].apply(normalize_text) + " " +
    df_presenter["MailingCity"].apply(normalize_text) + " " +
    df_presenter["MailingStateId"].astype(str) + " " +
    df_presenter["PresenterTypeId"].astype(str)
)

df_venue["combined_features"] = (
    df_venue["Name"].apply(normalize_text) + " " +
    df_venue["MailingCity"].apply(normalize_text) + " " +
    df_venue["MailingStateId"].astype(str) + " " +
    df_venue["VenueSettingId"].astype(str)
)

In [92]:
# Step 1: Ensure Unique Mapping Exists Between Artists and Presenters
if "encoded_id" not in df_presenter.columns:
    le = LabelEncoder()
    df_presenter["encoded_id"] = le.fit_transform(df_presenter["AccountName"])  # Encode presenter names

# Step 2: Create TF-IDF Features for Artists
tfidf_vectorizer = TfidfVectorizer(stop_words="english", max_features=5000)

X = tfidf_vectorizer.fit_transform(artist_df["combined_features"])  # Features for Artists

# Step 3: Generate `y` Using a Mapping Between Artists & Presenters
artist_to_presenter = {}  # Store mappings

for index, row in artist_df.iterrows():
    matched_presenters = df_presenter[df_presenter["MailingCity"] == row["PhysicalAddressCity"]]["encoded_id"].values
    if len(matched_presenters) > 0:
        artist_to_presenter[index] = matched_presenters[0]  # Assign first match

# Convert Mapping to Proper y Labels
y = np.array([artist_to_presenter.get(i, -1) for i in range(X.shape[0])])

# Remove any -1 values (artists without valid presenters)
valid_indices = y != -1
X, y = X[valid_indices], y[valid_indices]

# Step 4: Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 5: Train Logistic Regression Model
model = LogisticRegression(max_iter=500)
model.fit(X_train, y_train)

# Step 6: Check Accuracy
print(f"Model Accuracy: {model.score(X_test, y_test):.4f}")

Model Accuracy: 0.7373

In [98]:
def recommend_presenters_df(artist_name, top_n=5):
    artist_name = normalize_text(artist_name)  # Normalize input
    artist_row = artist_df[artist_df["Name"].apply(normalize_text) == artist_name]

    if artist_row.empty:
        print(f"Warning: Artist '{artist_name}' not found in df_artist.")
        return pd.DataFrame(columns=["Artist", "Presenter Name", "Match Score"])  

    artist_vector = tfidf_vectorizer.transform([artist_row["combined_features"].values[0]])
    
    # Predict Probabilities
    match_probs = model.predict_proba(artist_vector)[0]

    # Get Top Matches
    top_indices = np.argsort(match_probs)[::-1][:top_n]
    scores = match_probs[top_indices]

    results = pd.DataFrame({
        "Artist": artist_name,
        "Presenter Name": le.inverse_transform(top_indices),
        "Match Score": scores
    }).sort_values(by="Match Score", ascending=False)

    return results

In [99]:
def recommend_venues_df(artist_name, top_n=5):
    artist_name = normalize_text(artist_name)  # Normalize input
    artist_row = artist_df[artist_df["Name"].apply(normalize_text) == artist_name]

    if artist_row.empty:
        print(f"Warning: Artist '{artist_name}' not found in df_artist.")
        return pd.DataFrame(columns=["Artist", "Venue Name", "Match Score"])  

    artist_vector = tfidf_vectorizer.transform([artist_row["combined_features"].values[0]])
    
    # Predict Probabilities
    match_probs = model.predict_proba(artist_vector)[0]

    # Get Top Matches
    top_indices = np.argsort(match_probs)[::-1][:top_n]
    scores = match_probs[top_indices]

    results = pd.DataFrame({
        "Artist": artist_name,
        "Venue Name": df_venue.iloc[top_indices]["Name"].values,
        "Match Score": scores
    }).sort_values(by="Match Score", ascending=False)

    return results

In [113]:
# List of artists to test
artists_to_recommend = ["groove deluxe","2-WD RADIO"]

# Create datasets for presenters & venues
presenter_recommendations = pd.concat([recommend_presenters_df(artist) for artist in artists_to_recommend])
venue_recommendations = pd.concat([recommend_venues_df(artist) for artist in artists_to_recommend])

# Display the top recommendations
print("\n **Presenter Recommendations (Top 5)**")
print(presenter_recommendations.head())

print("\n **Venue Recommendations (Top 5)**")
print(venue_recommendations.head())

Warning: Artist '2-wd radio' not found in df_artist.
Warning: Artist '2-wd radio' not found in df_artist.

 **Presenter Recommendations (Top 5)**
          Artist                   Presenter Name  Match Score
0  groove deluxe                       2-WD RADIO     0.299072
1  groove deluxe  AMERICAN ADVERTISING FEDERATION     0.022785
2  groove deluxe                    ALDIE MANSION     0.022742
3  groove deluxe        A SHINDIG SOUTHERN EVENTS     0.011758
4  groove deluxe             ALYSON TAYLOR EVENTS     0.009165

 **Venue Recommendations (Top 5)**
          Artist                          Venue Name  Match Score
0  groove deluxe  BILTMORE ESTATE - THE CONSERVATORY     0.299072
1  groove deluxe                              Stella     0.022785
2  groove deluxe                      WAVERLY ESTATE     0.022742
3  groove deluxe                    SAVANNAH STATION     0.011758
4  groove deluxe                 Knights of Columbus     0.009165

In [104]:
def evaluate_recommendations(recommended, actual, k=5):
    precision_list = []
    recall_list = []
    mrr_list = []

    for artist in actual.keys():
        recs = [normalize_text(x) for x in recommended.get(artist, [])[:k]]
        actual_set = set(normalize_text(x) for x in actual[artist])  
        
        print(f"\n🔹 Evaluating artist: {artist}")
        print("Recommended:", recs)
        print("Actual:", actual_set)

        precision = len(set(recs) & actual_set) / k
        recall = len(set(recs) & actual_set) / len(actual_set) if actual_set else 0
        mrr = next((1 / (i + 1) for i, rec in enumerate(recs) if rec in actual_set), 0)

        precision_list.append(precision)
        recall_list.append(recall)
        mrr_list.append(mrr)

    metrics = {
        "Precision@k": np.mean(precision_list),
        "Recall@k": np.mean(recall_list),
        "MRR": np.mean(mrr_list)
    }
    
    return metrics

In [105]:
# Example Ground Truth Data
ground_truth_presenters = {
    "groove deluxe": ["college of william and mary", "wake supply co"],
    "88 keys wilson": ["hilton atlanta", "marriott marquis atlanta"],
}

# Get Recommendations
recommended_presenters = {
    artist: recommend_presenters_df(artist)["Presenter Name"].tolist() 
    for artist in ground_truth_presenters.keys()
}

In [110]:
# Run Evaluation
metrics = evaluate_recommendations(recommended_presenters, ground_truth_presenters, k=5)

# Display Results
metrics_df = pd.DataFrame(metrics.items(), columns=["Metric", "Value"])
display(metrics_df)

🔹 Evaluating artist: groove deluxe
Recommended: ['2-wd radio', 'american advertising federation', 'aldie mansion', 'a shindig southern events', 'alyson taylor events']
Actual: {'wake supply co', 'college of william and mary'}

🔹 Evaluating artist: 88 keys wilson
Recommended: ['allen transport', 'alfred state college', '2000 west', 'absolute entertainment', "abe & jake's landing"]
Actual: {'hilton atlanta', 'marriott marquis atlanta'}

        Metric  Value
0  Precision@k    0.0
1     Recall@k    0.0
2          MRR    0.0

In [111]:
# Evaluate Logistic Regression Model Accuracy
accuracy = model.score(X_test, y_test)
print(f"\n **Model Accuracy: {accuracy:.4f}**")

 **Model Accuracy: 0.7373**

## Fine-tuned code

In [114]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [115]:
# Fill NaN values with empty strings
artist_df.fillna("", inplace=True)
df_presenter.fillna("", inplace=True)
df_venue.fillna("", inplace=True)

# Function to Normalize Text (lowercase + strip whitespace)
def normalize_text(text):
    return str(text).strip().lower()

# Ensure necessary columns exist
for col in ["GenreTypeId", "ActTypeId", "MailingCountryId"]:
    if col not in artist_df.columns:
        artist_df[col] = "Unknown"

for col in ["PhysicalGeoLatitude", "PhysicalGeoLongitude"]:
    if col not in df_presenter.columns:
        df_presenter[col] = "0.0"

In [116]:
# Feature Engineering: Add More Context to Text-Based Features
artist_df["combined_features"] = (
    artist_df["Name"].apply(normalize_text) + " " +
    artist_df["PhysicalAddressCity"].apply(normalize_text) + " " +
    artist_df["PhysicalAddressStateId"].astype(str) + " " +
    artist_df["MailingCountryId"].astype(str) + " " +
    artist_df["GenreTypeId"].astype(str) + " " +  
    artist_df["ActTypeId"].astype(str) + " " +
    artist_df["IsActive"].astype(str)  # Include binary indicator for active artists
)

df_presenter["combined_features"] = (
    df_presenter["AccountName"].apply(normalize_text) + " " +
    df_presenter["MailingCity"].apply(normalize_text) + " " +
    df_presenter["MailingStateId"].astype(str) + " " +
    df_presenter["PresenterTypeId"].astype(str) + " " +  
    df_presenter["PhysicalGeoLatitude"].astype(str) + " " +  
    df_presenter["PhysicalGeoLongitude"].astype(str)  # Adding geographical location
)

df_venue["combined_features"] = (
    df_venue["Name"].apply(normalize_text) + " " +
    df_venue["MailingCity"].apply(normalize_text) + " " +
    df_venue["MailingStateId"].astype(str) + " " +
    df_venue["VenueSettingId"].astype(str) + " " +
    df_venue["IsSettingCovered"].astype(str)  # Adding venue characteristics
)

In [117]:
# Step 1: Encode Presenter Labels
if "encoded_id" not in df_presenter.columns:
    le = LabelEncoder()
    df_presenter["encoded_id"] = le.fit_transform(df_presenter["AccountName"])  # Encode presenter names

In [118]:
# Step 2: TF-IDF Vectorizer with Enhanced Features
tfidf_vectorizer = TfidfVectorizer(
    stop_words="english", 
    max_features=7000,  # Increased feature count
    ngram_range=(1,2),  # Uses Bi-grams for better context
    min_df=2  # Ignore words that appear only once
)

X = tfidf_vectorizer.fit_transform(artist_df["combined_features"])  # Features for Artists

In [119]:
# Step 3: Generate `y` Using a More Robust Mapping
artist_to_presenter = {}

for index, row in artist_df.iterrows():
    # Try City-Based Matching
    matched_presenters = df_presenter[df_presenter["MailingCity"] == row["PhysicalAddressCity"]]["encoded_id"].values
    
    # If No Exact City Match, Try State-Based Matching
    if len(matched_presenters) == 0:
        matched_presenters = df_presenter[df_presenter["MailingStateId"] == row["PhysicalAddressStateId"]]["encoded_id"].values
    
    # If No State Match, Try Country-Based Matching
    if len(matched_presenters) == 0:
        matched_presenters = df_presenter[df_presenter["MailingCountryId"] == row["MailingCountryId"]]["encoded_id"].values
    
    if len(matched_presenters) > 0:
        artist_to_presenter[index] = matched_presenters[0]  # Assign best match

# Convert Mapping to `y` Labels
y = np.array([artist_to_presenter.get(i, -1) for i in range(X.shape[0])])

# Remove `-1` (artists without matches)
valid_indices = y != -1
X, y = X[valid_indices], y[valid_indices]

In [120]:
# Step 4: Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [121]:
# Step 5: Train Logistic Regression Model
model = LogisticRegression(max_iter=500)
model.fit(X_train, y_train)

# Step 6: Check Accuracy
print(f"\n🔹 **Model Accuracy: {model.score(X_test, y_test):.4f}**")

🔹 **Model Accuracy: 0.7592**

In [122]:
def recommend_presenters_df(artist_name, top_n=5):
    artist_name = normalize_text(artist_name)  # Normalize input
    artist_row = artist_df[artist_df["Name"].apply(normalize_text) == artist_name]

    if artist_row.empty:
        print(f"⚠️ Warning: Artist '{artist_name}' not found in df_artist.")
        return pd.DataFrame(columns=["Artist", "Presenter Name", "Match Score"])  

    artist_vector = tfidf_vectorizer.transform([artist_row["combined_features"].values[0]])
    
    # Predict Probabilities
    match_probs = model.predict_proba(artist_vector)[0]

    # Get Top Matches
    top_indices = np.argsort(match_probs)[::-1][:top_n]
    scores = match_probs[top_indices]

    results = pd.DataFrame({
        "Artist": artist_name,
        "Presenter Name": le.inverse_transform(top_indices),
        "Match Score": scores
    }).sort_values(by="Match Score", ascending=False)

    return results

In [123]:
def evaluate_recommendations(recommended, actual, k=5):
    precision_list = []
    recall_list = []
    mrr_list = []

    for artist in actual.keys():
        recs = [normalize_text(x) for x in recommended.get(artist, [])[:k]]
        actual_set = set(normalize_text(x) for x in actual[artist])  

        precision = len(set(recs) & actual_set) / k
        recall = len(set(recs) & actual_set) / len(actual_set) if actual_set else 0
        mrr = next((1 / (i + 1) for i, rec in enumerate(recs) if rec in actual_set), 0)

        precision_list.append(precision)
        recall_list.append(recall)
        mrr_list.append(mrr)

    metrics = {
        "Precision@k": np.mean(precision_list),
        "Recall@k": np.mean(recall_list),
        "MRR": np.mean(mrr_list),
    }
    
    return metrics

In [124]:
# Example Ground Truth Data
ground_truth_presenters = {
    "groove deluxe": ["college of william and mary", "wake supply co"],
    "88 keys wilson": ["hilton atlanta", "marriott marquis atlanta"],
}

# Get Recommendations for Evaluation
recommended_presenters_dict = {
    artist: recommend_presenters_df(artist)["Presenter Name"].tolist() 
    for artist in ground_truth_presenters.keys()
}

# Run Evaluation
metrics = evaluate_recommendations(recommended_presenters_dict, ground_truth_presenters, k=5)

# Display Results
metrics_df = pd.DataFrame(metrics.items(), columns=["Metric", "Value"])
print("\n🔹 **Evaluation Metrics**")
print(metrics_df)

🔹 **Evaluation Metrics**
        Metric  Value
0  Precision@k    0.0
1     Recall@k    0.0
2          MRR    0.0